.form {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 0.75rem;
  width: 695px;
  margin: 0 auto;
  align-self: center;
  justify-self: center;
  box-shadow: 0px 0px 27px 4px rgba(0, 0, 0, 0.18);
}

.formInputGroup {
  display: flex;
  flex-direction: column;

  label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
}

.inlineInputGroup {
  display: flex;
}
